{% extends 'core/base.html' %}

{% block content %}
<div id="login-body">
    <nav>
        <ul>
            <li>Aposcar!</li>
            <li><a href="{% url 'core:index' %}">Início</a></li>
            <li><a href="{% url 'accounts:login' %}">Login</a></li>
        </ul>
    </nav>
    
    <div id="login-card">
        <h1>aposcar!</h1>
        <form action="" method="post">
            {% csrf_token %}
            
            {{ form.non_field_errors }}
            
            {% for field in form %}
            
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
                
            {% endfor %}
            
            <input type="submit" 
            {% if request.path == "/accounts/login/" %}
            value="logar!"
            {% elif request.path == '/accounts/signup/' %}
            value="registrar!"
            {% endif %}/>
        </form>
        
        {% if request.path == "/accounts/login/" %}
        <p><a href="{% url 'accounts:signup' %}">ainda não é cadastrado?</a></p>
        {% elif request.path == '/accounts/signup/' %}
        <p><a href="{% url 'accounts:login' %}">já é cadastrado?</a></p>
        {% endif %}
    </div>
</div>




{% endblock %}